body {
  background: white;
  color: #111018;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}

.chatbar {
  background: #332839;
  color: #5c5a87;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border-radius: 5px;
  border-style: none;
  display: block;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  flex: 8;
}

.chatbar-username {
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.system {
  font-style: italic;
  padding: 5px 20px;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}

.navbar {
  color: #ffffff;
  background: #2A293E;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: inherit;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbar-users {
  color:#f3f3f7;
  float: right;
  padding: 2%;
  float: right;
  line-height: 2.2em;
  font-size: 1.2em;
}

.loading , .loading i {
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #2A293E;
}

.fa.fa-comment{
  color: #9f9dbe;
}

.nameChanged {
  width: 100%;
  margin: 0;
  padding: 2px 5% 2px 60%;
  background-color: #9f9dbe;
  opacity: 0.7;
  font-weight: normal;
}

.joinedConvo {
  color: grey;
  display: inline;
  font-size: 0.8em;
  padding: 0 1%;
}